.git/
.idea/
.vscode/
.vscode-test/
coverage/
data/
build/
src/
.editorconfig
.eslintrc.js
.gitignore
.gitmodules
.prettierrc
*.env
build.sh
Dockerfile
docker-compose.yml
jest.config.json
nest-cli.json
tsconfig.json
tsconfig.build.json
webpack.config.js
*.log
runenv
settings.json
update.js
tsconfig.build.tsbuildinfo
